name: Conda Build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**/*'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**/*'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-13, macos-latest]
        python-version: ["3.11", "3.12"]
        # when updating the tested Python versions, please also update README.md,
        # the conda.recipe/meta.yaml file, pyproject.toml, and (if necessary) the
        # .readthedocs.yaml file

    runs-on: ${{ matrix.platform }}

    env:  # We need to add the path to the rrtmgp-data directory
      RRTMGP_DATA: /home/runner/work/pyRTE-RRTMGP/pyRTE-RRTMGP/rrtmgp-data

    # The setup-miniconda action needs this to activate miniconda
    defaults:
      run:
        shell: "bash -l {0}"

    steps:
      - uses: actions/checkout@v6

      - name: Get conda
        uses: conda-incubator/setup-miniconda@v3.2.0
        with:
          miniconda-version: "latest"
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          auto-activate-base: true

      - name: Prepare
        run: conda install conda-build conda-verify pytest liblief=0.14.1

      - name: Build
        run: conda build conda.recipe
